################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DnsGhost/obj/Debug
/DnsGhost/bin
/DnsGhost.Tests/obj/Debug
/Service/obj/Debug
