<?xml version="1.0"?>
<configuration>  
    <startup>
      <supportedRuntime version="v2.0.50727" sku="Client"/>
    </startup>
  <appSettings>
    <add key="frequencyInSeconds" value="3600"/>
    <!-- DONT FORGET TO PUT YOUR OWN USERNAME COMPUTERNAME !!! -->
    <add key="url" value="http://ownmeca0.w15.wh-2.com/DnsGhost/dns/update/username/computername"/>
  </appSettings>
</configuration>
