@{
    ViewBag.Title = "Home Page";
}


<table>
    <tr>
        <td>
            Use the <b>http://ownmeca0.w15.wh-2.com/DnsGhost/dns/update/username/computername</b> to register a computer
        </td>
    </tr>
    <tr>
        <td>
            Use the <b>http://ownmeca0.w15.wh-2.com/DnsGhost/dns/retrieve/username/computername</b> to retrieve its address.
        </td>

    </tr>
    <tr>
        <td>
            Use the <b>http://ownmeca0.w15.wh-2.com/DnsGhost/dns/retrieve/username/all</b> to retrieve all the registered computers for the user.
        </td>
    </tr>
    <tr>
        <td>
            The IP reporting can be automated by installing the <a href="http://ownmeca0.w15.wh-2.com/dnsGhost.zip" "><b>DnsGhost</b></a> service on your PC
        </td>
    </tr>
    <tr>
        <td>
            <div>To insure you the program is not mailitious the source code is included.</div>
        </td>
    </tr>

    <tr>
        <td>
            <div>After unzipping the file don't forget to change the <b>*.config</b> file, instructions included inside!!!</div>
        </td>
    </tr>
</table>
